{
  "openapi": "3.1.0",
  "info": {
    "title": "PlanVortex API",
    "description": "Schedule and publish on social networks, read comments and messages, and manage the files behind them.\n\nThis document is the union of the per-section specifications published at https://planvortex.com/documentation, and it is what the official client libraries generate their types from.\n\n**Classify errors by `code`, never by the HTTP status**: every domain error travels with HTTP 400.",
    "termsOfService": "https://planvortex.com/term",
    "contact": {
      "email": "contact@planvortex.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.planvortex.com/v1.0.0"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "clientCredentials": []
    }
  ],
  "tags": [
    {
      "name": "accounts",
      "description": "Social networks accounts connected to the organization"
    },
    {
      "name": "ai_plans",
      "description": "AI-generated weekly publication plans"
    },
    {
      "name": "apps",
      "description": "Client apps: the credentials an integration authenticates with"
    },
    {
      "name": "authentication",
      "description": "Exchanging credentials for an access token"
    },
    {
      "name": "catalog",
      "description": "Supported networks, their capabilities and their limits"
    },
    {
      "name": "clients",
      "description": "Everything about the clients you have access"
    },
    {
      "name": "clients_roles",
      "description": "Client roles manager. Define new client roles and manage them"
    },
    {
      "name": "comments",
      "description": "The public conversation hanging off what you published — comments and reviews"
    },
    {
      "name": "contacts",
      "description": "People an organization talks to"
    },
    {
      "name": "dashboard",
      "description": "Aggregates of an organization and its children"
    },
    {
      "name": "files",
      "description": "Files uploaded to an organization resource"
    },
    {
      "name": "integrations",
      "description": "Connections between an organization and a third-party tool (Google Drive, RSS feeds)"
    },
    {
      "name": "message templates",
      "description": "Pre-approved templates, the only way to open a conversation on WhatsApp"
    },
    {
      "name": "messages",
      "description": "Conversations and messages of a connected account"
    },
    {
      "name": "organization_roles",
      "description": "Roles and user membership inside an organization"
    },
    {
      "name": "orgnaizations",
      "description": "Organizations management. Define new organizations and isolate resources between them"
    },
    {
      "name": "products",
      "description": "Commerce catalogues and products of a connected account"
    },
    {
      "name": "publications",
      "description": "Publications on social networks"
    },
    {
      "name": "webhooks",
      "description": "What PlanVortex posts to your app when a comment arrives"
    }
  ],
  "paths": {
    "/organizations/{id_organization}/connect_links": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get the connection links of every connectable network",
        "description": "The authorization URL of each network, so the user can connect an account to this organization.\n\n**A network that cannot produce a link simply does not appear.** That is a legitimate answer, not a failure: it is what happens with `discord` in an organization that has not saved its own bot credentials yet (see `PUT /organizations/{id_organization}/social_credentials/{social_network}`).\n\n**An app cannot call this.** Connecting a social account is an OAuth flow with a person in front of it, so this endpoint only accepts a user token or a temporal connect token; with app credentials it answers error 519. The way an integration does it is to issue a temporal connect token with `GET /organizations/{id_organization}/temporal_connect_token` and hand it to its end user.\n\n**Read `authorization`, not `link`.** Nine of the eleven networks are `redirect` and you send the person to `link`. Two are not, and neither of them fails visibly if you treat it as one:\n\n• **WhatsApp is not a URL at all.** Its sign-up is Meta's Embedded Signup, a popup you raise with the Facebook JavaScript SDK, so its `link` is an empty string and everything you need to open that popup travels in `authorization`. A client that loops over the list and redirects to `link` sends its user to its own page.\n• **Telegram has a link and still is not a redirect.** It opens a chat with the PlanVortex bot, and nobody comes back from it: the account is born minutes later, from the bot being added to a channel, and it is announced over the WebSocket. Open it in another tab and keep listening; redirect to it and there is nobody left to tell.",
        "operationId": "getConnectLinks",
        "x-planvortex-identity": [
          "current_user",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsSocialLinksList"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `523` | Invalid application |\n| `532` | `redirect_uri` is not one of the fronts registered on the server |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_network",
            "in": "query",
            "description": "Only these networks. Repeat the parameter for several. Omit it and every connectable network comes back.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SocialNetwork"
              }
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Which PlanVortex front the network sends the user back to, for a white-labelled deployment. It has to be one of the fronts the server has registered (`FRONT_URL_REDIRECT`) or the call answers error 532 — it is **not** your app's `redirect_urls`, and it cannot be a URL of yours: the networks only accept redirect URIs registered in their own app settings. Where your user goes once they have finished is the `redirect_uri` of `GET /organizations/{id_organization}/temporal_connect_token`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/organizations/{id_organization}/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get social accounts",
        "description": "Get social accounts list for the current organization paginated",
        "operationId": "getAccountList",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records from which you will get roles (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of records will be retrieved (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Free-text search over the account's name and username.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accounts",
            "in": "query",
            "description": "Only these accounts, by identifier. Repeat the parameter for more than one.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "social_network",
            "in": "query",
            "description": "Only accounts of these networks. Repeat the parameter for more than one.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SocialNetwork"
              }
            }
          },
          {
            "name": "capability",
            "in": "query",
            "description": "Only accounts whose network can do this. It is the same matrix `GET /social_capabilities` publishes, applied server-side: the way to ask for 'the accounts I can publish with' without keeping your own table of which network does what.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "publications",
                "messages",
                "products",
                "webhooks",
                "persistent_menu",
                "comments"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountList"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/organizations/{id_organization}/accounts/{id_account}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get social accounts by identifier",
        "description": "Get social account by the received identifier",
        "operationId": "getAccount",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `701` | Account doesn't exists or invalid |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_account",
            "in": "path",
            "description": "Account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "accounts"
        ],
        "summary": "Update social accounts by identifier",
        "description": "Update social account by the received identifier",
        "operationId": "updateAccount",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization the account belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_account",
            "in": "path",
            "description": "Connected social account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsAccountOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `701` | IAccount doesn't exists or invalid |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Only `name` is read. Any other property is ignored.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the connected account inside PlanVortex. It does not rename anything on the social network. If omitted, the current name is kept."
                  }
                }
              },
              "examples": {
                "rename": {
                  "summary": "Rename the connected account",
                  "value": {
                    "name": "Client X - Instagram"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Delete social accounts by identifier",
        "description": "Delete social account by the received identifier",
        "operationId": "deleteAccount",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `701` | Account doesn't exists or invalid |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_account",
            "in": "path",
            "description": "Account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/organizations/{id_organization}/accounts/{id_account}/metric_list": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Retrieve a list of possible metrics",
        "description": "Retrieve a list of possible metrics",
        "operationId": "getMetricList",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsMetricList"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `701` | Account doesn't exists or invalid |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_account",
            "in": "path",
            "description": "Account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/organizations/{id_organization}/accounts/{id_account}/metrics": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Retrieve a list of possible metrics",
        "description": "Retrieve a list of possible metrics",
        "operationId": "getAccountStats",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsMetricModel"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `701` | Account doesn't exists or invalid |\n| `523` | Invalid application |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_account",
            "in": "path",
            "description": "Account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Start of the range. Defaults to a day before `to_date`.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "End of the range. Defaults to now.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Only these metrics, by their RAW name — the ones `GET .../metric_list` returns. Repeat the parameter for more than one. Without it, every measured metric comes back.",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "/organizations/{id_organization}/account-connect/{social_network}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Complete the connection of a social account",
        "description": "The endpoint the social network sends the user back to after they authorize. It turns the network's callback into one or more PlanVortex accounts.\n\n**You do not build this URL, the network does.** It is the `redirect_uri` inside the link that `GET /organizations/{id_organization}/connect_links` handed out, so the query parameters are whatever the network appends — typically `code` and `state`. Pass them through untouched.\n\n**One authorization can produce several accounts.** A Facebook user with four pages ends up with four; a Discord authorization produces the channel that was picked.\n\n**It answers 200 even when it fails.** The result carries `errorCode` and `errorMsg` instead of an error body, because the browser lands here from a redirect and a raw 400 would be a broken page. Check `errorCode`: empty means everything went well.\n\n**An app cannot call this** — it needs a user token or a temporal connect token (error 519 otherwise). See `GET /organizations/{id_organization}/temporal_connect_token`.\n\n**A temporal connect token is spent here.** Once this call succeeds, that token cannot connect anything else and answers error 543; the `enable` calls that finish the same connection still work until it expires. And if the token was issued for one network, calling this for another answers error 544.\n\n**Telegram does not come through here, and cannot be made to.** That network has no callback: the account is created by PlanVortex when the bot is added to a channel, and what authorizes it is a single-use voucher minted at that moment and spent in the same breath — it never leaves the server, so calling this endpoint for `telegram` answers error 700. It is deliberate: the bot is shared, so without it anyone could hang any channel where that bot is an admin off their own organization by passing a chat id by hand. What an integration listens for instead is the `new_account` webhook notification.",
        "operationId": "connectAccount",
        "x-planvortex-identity": [
          "current_user",
          "temporal_token"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "social_network",
            "in": "path",
            "required": true,
            "description": "The network being connected.",
            "schema": {
              "$ref": "#/components/schemas/SocialNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the connection. **Read `errorCode` before trusting `accounts`.**",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "description": "The accounts that were connected. Can be empty when the authorization produced nothing usable.",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "errorCode": {
                      "type": "string",
                      "description": "PlanVortex error code as a string, or an empty string when it all went well. **It travels in a 200.**"
                    },
                    "errorMsg": {
                      "type": "string",
                      "description": "The matching message, or an empty string."
                    },
                    "redirect_uri": {
                      "type": "string",
                      "description": "Where to send the user next. Only present when the call was made with a temporal connect token that carried one."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `519` | This endpoint does not accept app credentials |\n| `543` | This temporal connect token has already connected an account. Issue a new one |\n| `544` | This temporal connect token was issued for a different social network |\n| `700` | The connection cannot be completed through this endpoint. It is what `telegram` always answers here: that network's accounts are created from the bot being added to a channel, never from a call of yours |\n| `1101` | Invalid organization, or a temporal token for a different one |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/organizations/{id_organization}/accounts/{id_account}/enable": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Re-enable a disconnected account",
        "description": "Brings back an account that was removed, without going through the authorization again — as long as its stored token still works.\n\nIt takes a **slot of the plan**, so it fails with error 706 when the organization is already at its account limit. It also turns the network's webhooks back on, on any plan but the free one.",
        "operationId": "enableAccount",
        "x-planvortex-identity": [
          "current_user",
          "temporal_token"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_account",
            "in": "path",
            "description": "Connected account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enabled. When the call came from a temporal connect token with a `redirect_uri`, the answer is that URL instead of `{success: true}`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "redirect_uri": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `700` | The account has no usable token: it has to be connected again |\n| `706` | The organization has no account slots left in its plan |\n| `519` | This endpoint does not accept app credentials |\n| `544` | This temporal connect token was issued for a different social network |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/organizations/{id_organization}/accounts/{id_account}/persistent_menu": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Read the account's persistent menu",
        "description": "The fixed menu shown inside the network's chat. **Only Meta messaging accounts have one** — ask `persistent_menu` in `GET /social_capabilities`; anywhere else this answers error 710.\n\nIt is read live from the network.",
        "operationId": "getPersistentMenu",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_account",
            "in": "path",
            "description": "Connected account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The menu",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "persistent_menu": {
                      "$ref": "#/components/schemas/AccountsPersistentMenu"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `710` | This network has no persistent menu |\n| `1101` | Invalid organization |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Replace the account's persistent menu",
        "description": "**Replaces the whole menu.** There is no partial update: what you send is what the chat shows, and an empty array removes it.\n\nOne entry per locale. `default` is the fallback and has to be there.",
        "operationId": "setPersistentMenu",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_account",
            "in": "path",
            "description": "Connected account identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "persistent_menu": {
                    "$ref": "#/components/schemas/AccountsPersistentMenu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The menu as the network stored it",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "persistent_menu": {
                      "$ref": "#/components/schemas/AccountsPersistentMenu"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `710` | This network has no persistent menu |\n| `1101` | Invalid organization |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}/ai_plans": {
      "post": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Create an AI publication plan",
        "description": "Create a weekly AI publication plan. The plan is queued in state 'pending' and generated asynchronously by the generate-ai-plans job; poll GET by id while state is pending or generating. Validations at creation: the client plan allows AI (artificial_inteligence), the accounts belong to the organization, there are enough AI credits for the deterministic base cost (orchestration + target texts), and there is room in the organization's monthly publication limit. Returns the created plan together with the deterministic cost estimate. Requires the ai_plans:create permission.",
        "operationId": "addAiPlan",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiPlansAiPlanCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan created and queued. estimated_cost is the deterministic upper bound in AI credits; the actual credits_spent may be lower if the model produces fewer publications/images.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPlansAiPlanCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `806` | Invalid upload identifier. One of the gallery_uploads does not belong to the organization. |\n| `924` | Max publications reached per month. There is no room in the organization's monthly publication limit for the generated posts. |\n| `941` | AI credits exhausted for this month. The base cost of the plan exceeds the remaining AI credits. The response data carries { used, limit, cost }. |\n| `2101` | This functionality requires a plan with artificial intelligence (available from the basic plan). |\n| `2103` | All accounts must belong to the organization. |\n| `2105` | AI plan requires at least one account. |\n| `2106` | Invalid AI plan options (missing prompt, invalid timezone, invalid week_start, invalid max_images or invalid publish_days). |\n| `2108` | The selected publish days leave no available slot in the plan week: every slot of the chosen days is already in the past. Pick more days or a later week_start. The response data carries { publish_days, week_start, timezone }. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      },
      "get": {
        "tags": [
          "ai_plans"
        ],
        "summary": "List AI publication plans",
        "description": "Return the organization's AI plans ordered by creation date (desc), paginated. Requires the ai_plans:read permission.\n\n**Cancelled plans are not listed.** Deleting a plan sets it to `cancelled` rather than removing it, and this listing filters those out — so a plan you deleted simply stops appearing, while `GET` by id still returns it.\n\nWithout `limit` the whole list comes back.",
        "operationId": "getAiPlans",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip (pagination)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return (pagination)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPlansAiPlanList"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}/ai_plans/{id_ai_plan}": {
      "get": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Get an AI publication plan by id",
        "description": "Return a single AI plan with its generated publications populated. This is the endpoint clients poll while state is pending or generating to detect when generation finishes. Requires the ai_plans:read permission.",
        "operationId": "getAiPlan",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          },
          {
            "$ref": "#/components/parameters/AiPlansidAiPlan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPlansAiPlanOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `2100` | AI plan doesn't exist. The identifier is invalid or doesn't exist. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      },
      "delete": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Cancel / discard an AI publication plan",
        "description": "Discard the plan and delete its generated draft publications. AI credits already spent on generation are NOT refunded (same criterion as X: if the provider charged, we charge). Requires the ai_plans:delete permission.",
        "operationId": "deleteAiPlan",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          },
          {
            "$ref": "#/components/parameters/AiPlansidAiPlan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `2100` | AI plan doesn't exist. The identifier is invalid or doesn't exist. |\n| `2102` | Invalid AI plan state for this operation. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}/ai_plans/{id_ai_plan}/validate": {
      "post": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Validate an AI publication plan",
        "description": "Validate a generated plan: its draft publications without errors are re-validated and moved to 'ready', and the plan moves to 'validated'. From that point the normal publish-pending flow publishes them at their publish_date. Only valid from state 'generated'. Requires the ai_plans:update permission.",
        "operationId": "validateAiPlan",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          },
          {
            "$ref": "#/components/parameters/AiPlansidAiPlan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation. Returns the plan (state validated) with its publications populated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPlansAiPlanOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `2100` | AI plan doesn't exist. The identifier is invalid or doesn't exist. |\n| `2102` | Invalid AI plan state for this operation. Only a plan in state 'generated' can be validated. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}/ai_plans/{id_ai_plan}/retry": {
      "post": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Retry a failed AI publication plan",
        "description": "Re-queue a failed plan: it goes back to state 'pending' (attempts and error reset) and the background job regenerates it with the SAME data (prompt, accounts, options). Poll the plan while state is pending or generating, as after creation. Only valid from state 'failed'. Already-spent credits are NOT refunded and a new generation spends again; drafts left over from the failed attempt are discarded by the generation itself. If the failure was a business error (no AI credits, no monthly publication slots), retrying will fail the same way. Requires the ai_plans:update permission.",
        "operationId": "retryAiPlan",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AiPlansidClient"
          },
          {
            "$ref": "#/components/parameters/AiPlansidOrganization"
          },
          {
            "$ref": "#/components/parameters/AiPlansidAiPlan"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation. Returns the plan back in state 'pending'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPlansAiPlanOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `2100` | AI plan doesn't exist. The identifier is invalid or doesn't exist. |\n| `2102` | Invalid AI plan state for this operation. Only a plan in state 'failed' can be retried. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}/ai_plans/{id_ai_plan}/publications/{id_publication}/regenerate": {
      "post": {
        "tags": [
          "ai_plans"
        ],
        "summary": "Regenerate the text or the image of one publication of the plan",
        "description": "Asks the model for another version of a single publication, for when the generated one does not work.\n\n**It costs credits, and they are charged per use.** The balance is checked before the call and the real cost is charged afterwards, accumulating in the plan's `credits_spent`. As a reference: regenerating a text is billed around 2 credits and an image around 70, but what is actually charged is the provider's real cost.\n\nIt only works **while the plan is under review** (state `generated`) and on its drafts: a publication already validated or published is not a draft any more.",
        "operationId": "regenerateAiPlanPublication",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_ai_plan",
            "in": "path",
            "description": "AI plan identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_publication",
            "in": "path",
            "description": "Identifier of the plan's publication to regenerate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "What to regenerate. `image` needs the plan to have been created with images allowed.",
                    "enum": [
                      "text",
                      "image"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The regenerated publication and what the plan has spent so far",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publication": {
                      "$ref": "#/components/schemas/Publication"
                    },
                    "credits_spent": {
                      "type": "integer",
                      "description": "AI credits this plan has spent in total, this regeneration included."
                    }
                  },
                  "required": [
                    "publication",
                    "credits_spent"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `2102` | The plan is not under review: only a `generated` plan can be regenerated |\n| `2106` | Invalid `target`: it has to be `text` or `image` |\n| `935` | That publication does not belong to this plan, or is no longer a draft |\n| `941` | AI credits exhausted for this month |\n| `2101` | This functionality requires a plan with artificial intelligence |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Exchange client credentials for an access token",
        "description": "The way an integration authenticates. Send the app's `client_id` and `client_secret` and get back a bearer token to put in `Authorization` on every other call.\n\n**This endpoint is different from the rest of the API in three ways, and all three matter:**\n\n1. **It takes no token** — it is the one that gives you one. It is also the only endpoint with no authentication at all.\n2. **It accepts `application/x-www-form-urlencoded`**, which is what OAuth 2 says and what a generic OAuth client sends. JSON works too.\n3. **Its errors are OAuth 2 errors** — `{error, error_description}` with a 400 or a 401 — and *not* the `{code, message, data}` of everywhere else. This is the single exception in the whole API, and it exists so a generic OAuth client understands the answer.\n\nCredentials travel either in the body (`client_secret_post`) or in `Authorization: Basic base64(client_id:client_secret)` (`client_secret_basic`). Both are standard and both are accepted.\n\n**Cache the token until it expires.** The endpoint is rate limited per `client_id` and IP — 30 attempts a minute, and 10 *failures* in five minutes — so asking for a fresh token on every call will eventually get a 429 with a `Retry-After`. A correct integration asks once and refreshes shortly before `expires_in`.\n\nWhat comes back is an access token and nothing else: **no refresh token and no id token**. When it expires, ask again.",
        "operationId": "issueToken",
        "security": [],
        "x-planvortex-identity": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AppsTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The access token. The response is never cached (`Cache-Control: no-store`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "`invalid_request` when `client_id` or `client_secret` is missing, `unsupported_grant_type` when `grant_type` is not `client_credentials`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsOAuthError"
                }
              }
            }
          },
          "401": {
            "description": "`invalid_client`: the credentials are not valid, or the app no longer exists. **The message does not say which**, on purpose — telling the two apart is exactly what somebody enumerating clients wants to know.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsOAuthError"
                }
              }
            }
          },
          "429": {
            "description": "`slow_down`: too many attempts, or too many failures. The `Retry-After` header says how many seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before trying again.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsOAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id_client}/apps": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "List the client's apps",
        "description": "The apps of a client. Secrets never travel here: to read one, ask for it explicitly with the `secret` endpoint.\n\n**Needs a USER token, not an app token.** With client credentials it answers `ERROR_CODE_512`. It also needs the **Custom plan** (`ERROR_CODE_542`): apps are what that plan adds, and they are the door to this whole API.",
        "operationId": "getClientApps",
        "x-planvortex-identity": [
          "current_user"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          },
          {
            "$ref": "#/components/parameters/Appsoffset"
          },
          {
            "$ref": "#/components/parameters/Appslimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Apps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_apps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppsClientApp"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "client_apps",
                    "total"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      },
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "Create an app",
        "description": "Creates the app and its credentials.\n\n**A client can have one app.** Creating a second answers error 536. If you need to rotate credentials, update the existing app rather than creating another.\n\nEvery URL is validated: a bad entry in `allowed_domains` answers 531, in `redirect_urls` 532, and a bad `webhook_url` answers 535.\n\n**The secret is not in the response.** Read it with `GET /clients/{id_client}/apps/{id_app}/secret`.\n\n**A client can only have ONE app.** Creating a second one is rejected with `ERROR_CODE_536`: delete or update the one that exists. The listing is paginated because every listing in this API is, not because there can be more than one.\n\n**Needs a USER token, not an app token.** With client credentials it answers `ERROR_CODE_512`. It also needs the **Custom plan** (`ERROR_CODE_542`): apps are what that plan adds, and they are the door to this whole API.",
        "operationId": "createClientApp",
        "x-planvortex-identity": [
          "current_user"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsClientAppInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_app": {
                      "$ref": "#/components/schemas/AppsClientApp"
                    }
                  },
                  "required": [
                    "client_app"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      }
    },
    "/clients/{id_client}/apps/{id_app}": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "Get one app",
        "description": "The app's record, without its secret. Note the envelope: `{client_app}` here, `{client_apps, total}` in the list.\n\n**An app token works here.** This is the one part of `/apps` that does: an app can read and update its own record, but it cannot list, create, delete, or read the secret. The **Custom plan** is still required (`ERROR_CODE_542`).",
        "operationId": "getClientApp",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          },
          {
            "$ref": "#/components/parameters/AppsidApp"
          }
        ],
        "responses": {
          "200": {
            "description": "The app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_app": {
                      "$ref": "#/components/schemas/AppsClientApp"
                    }
                  },
                  "required": [
                    "client_app"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      },
      "put": {
        "tags": [
          "apps"
        ],
        "summary": "Update an app",
        "description": "Replaces the app's configuration. **Every field is overwritten with what you send**, so a `redirect_urls` you leave out becomes an empty list — send the whole object, not a patch.\n\nChanging `webhook_url` takes effect on the next event; there is no verification handshake.\n\n**It replaces every field with what the body carries.** `name`, `keycloak_client_idenfifier`, `allowed_domains`, `redirect_urls` and `webhook_url` are all written as sent, so omitting one erases it — sending an update without `webhook_url` turns the webhook off. Read the app first and send it back whole.\n\n**An app token works here.** This is the one part of `/apps` that does: an app can read and update its own record, but it cannot list, create, delete, or read the secret. The **Custom plan** is still required (`ERROR_CODE_542`).",
        "operationId": "updateClientApp",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          },
          {
            "$ref": "#/components/parameters/AppsidApp"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppsClientAppInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_app": {
                      "$ref": "#/components/schemas/AppsClientApp"
                    }
                  },
                  "required": [
                    "client_app"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      },
      "delete": {
        "tags": [
          "apps"
        ],
        "summary": "Delete an app",
        "description": "Revokes the credentials and marks the app as deleted. **Tokens already issued stop working**: the token endpoint checks that the app still exists before answering, and requests carrying an old token no longer resolve to an app.\n\n**Needs a USER token, not an app token.** With client credentials it answers `ERROR_CODE_512`. It also needs the **Custom plan** (`ERROR_CODE_542`): apps are what that plan adds, and they are the door to this whole API.",
        "operationId": "deleteClientApp",
        "x-planvortex-identity": [
          "current_user"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          },
          {
            "$ref": "#/components/parameters/AppsidApp"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      }
    },
    "/clients/{id_client}/apps/{id_app}/secret": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "Read the app's secret",
        "description": "Returns the `client_secret` in clear. It is a separate endpoint precisely so that the secret never travels inside a listing that gets logged, cached or drawn on a screen by accident.\n\nThe same secret is what signs the outgoing webhooks (`x-hub-signature`, `x-hub-signature-256`).\n\n**Needs a USER token, not an app token.** With client credentials it answers `ERROR_CODE_512`. It also needs the **Custom plan** (`ERROR_CODE_542`): apps are what that plan adds, and they are the door to this whole API.\n\nIt comes straight from Keycloak, so it is the live secret and not a copy: treat the response as a credential and never log it.",
        "operationId": "getClientAppSecret",
        "x-planvortex-identity": [
          "current_user"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppsidClient"
          },
          {
            "$ref": "#/components/parameters/AppsidApp"
          }
        ],
        "responses": {
          "200": {
            "description": "The secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "secret"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/AppsError"
          }
        }
      }
    },
    "/social_networks": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "List the supported social networks",
        "description": "Every network PlanVortex can connect, as a flat array of identifiers.\n\nThis is the list every other enumeration in the API is built from. It grows several times a year, so a client that hardcodes it will reject a value it should have accepted.",
        "operationId": "getSocialNetworks",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Supported networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SocialNetwork"
                  }
                },
                "example": [
                  "facebook",
                  "twitter",
                  "instagram",
                  "linkedin",
                  "whatsapp",
                  "tiktok",
                  "youtube",
                  "google_business",
                  "bluesky",
                  "discord",
                  "telegram"
                ]
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/allowed_social_publications": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "List the networks that can publish",
        "description": "The subset of `/social_networks` that accepts publications. `google_business` is not in it: a local listing receives reviews, it does not receive posts.",
        "operationId": "getAllowedSocialPublications",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Networks that accept publications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SocialNetwork"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/allowed_social_messages": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "List the networks with direct messages",
        "description": "The subset of `/social_networks` whose conversations can be read and answered from PlanVortex.\n\n**It is a POST and it takes no body.** That is historical, not a design decision, and it is kept as it is because changing the verb would break every integration already calling it. Send an empty body.",
        "operationId": "getAllowedSocialMessages",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Networks with conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SocialNetwork"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/social_limits": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Per-network publication limits",
        "description": "Every limit a publication is validated against, indexed by limit and then by network.\n\nRead it before building a composer. A few traps worth knowing:\n\n• **`characters` is not always the only text limit.** Bluesky counts 300 *graphemes* **and** 3.000 *bytes*; the second one travels in `max_post_bytes`, where `0` means \"this network does not measure text in bytes\". A family emoji is one grapheme and eleven UTF-16 units, so counting with `String.length` is wrong in both directions.\n• **`0` in `title_characters` means the network has no title field**, not a title of zero length.\n• **`comment_characters` is a different limit from `characters`.** Facebook takes 63.206 in a post and 8.000 in a comment.\n• **`characters` is not one number per network either.** Telegram takes 4.096 in a text post and **1.024** in the caption of a photo or a video, and it is the same composer field: the second number is the key `telegram_media`. Over the limit the publication is created in state `withErrors` with `publication_errors[].code = 967`, which carries `characters`, `max_characters` and `has_media`.\n• Every network in `/social_networks` appears in every map. A missing key is a bug, and the backend's conformance suite fails on it.",
        "operationId": "getSocialLimits",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Limits per network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSocialLimits"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/publication_limits": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Publication limits that do not depend on the network",
        "description": "Limits that apply to a publication whatever network it goes to. Today there is one: how many times a failed publication can be retried by hand with `POST /organizations/{id_organization}/publish/{id_publication}/retry`.\n\nIt is published for the same reason as `/social_limits`: a 3 written into a client stays a 3 the day the server raises it to 5, and the button would promise a retry the API refuses.",
        "operationId": "getPublicationLimits",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Publication limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "max_retries": {
                      "type": "integer",
                      "description": "How many manual retries a failed publication accepts before `retry` starts answering an error."
                    }
                  },
                  "required": [
                    "max_retries"
                  ]
                },
                "example": {
                  "max_retries": 3
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/allowed_aspect_ratios": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Accepted aspect ratios per network",
        "description": "The crops each network accepts, as the numeric ratio used to validate and the label to show, side by side at the same index.\n\nThe keys are **not** always a network name: some networks have a different list per publication type, and those appear as `<network>_<type>` (`facebook_reels`, `facebook_stories`). A network missing from the map does not validate the ratio.",
        "operationId": "getAllowedAspectRatios",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "responses": {
          "200": {
            "description": "Aspect ratios per network",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/CatalogAspectRatios"
                  }
                },
                "example": {
                  "instagram": {
                    "values": [
                      1,
                      0.8,
                      1.91,
                      0.5625
                    ],
                    "text": [
                      "1:1",
                      "4:5",
                      "1.91:1",
                      "9:16"
                    ]
                  },
                  "facebook_reels": {
                    "values": [
                      0.5625
                    ],
                    "text": [
                      "9:16"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Return all available clients",
        "description": "Return a list of clients ordered by creation date (desc)",
        "operationId": "getClients",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "parameters": [
          {
            "name": "getUse",
            "in": "query",
            "description": "Boolean determine if the server will response with the actual use of each client",
            "required": false,
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records from which you will get clients (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of records will be retrieved (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsClientList"
                }
              }
            }
          },
          "400": {
            "description": "Error. Classify by `code` in the body, never by the HTTP status: every domain error travels with HTTP 400.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Return a client by identifier",
        "description": "Return a client by identifier",
        "operationId": "getClient",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getUse",
            "in": "query",
            "description": "Boolean determine if the server will response with the actual use of each client",
            "required": false,
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsClientOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      },
      "put": {
        "tags": [
          "clients"
        ],
        "summary": "Update a client by identifier",
        "description": "Update a client by identifier",
        "operationId": "updateClient",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsClientOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Only `name` and `client_type` are read. Omitted properties keep their current value.",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Client name."
                  },
                  "client_type": {
                    "type": "string",
                    "enum": [
                      "personal",
                      "professional",
                      "enterprise",
                      "agency"
                    ],
                    "description": "Type of client."
                  }
                }
              },
              "examples": {
                "rename": {
                  "summary": "Rename the client",
                  "value": {
                    "name": "Acme Studio",
                    "client_type": "agency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clients/{id_client}/organizations": {
      "post": {
        "tags": [
          "clients"
        ],
        "summary": "Create a new root organization inside a client",
        "description": "Within a client, organizations can be created to separate and isolate data between them",
        "operationId": "addParentOrganization",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client the organization will belong to",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsOrganizationOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1400` | Account limit reached for the organization plan |\n| `1401` | Publication limit reached for the organization plan |\n| `1402` | Users limit reached for the organization plan |\n| `1403` | Shared space limit reached for the organization plan |\n| `1407` | Twitter credits limit reached for the organization plan. The sum of twitter_credits assigned to the client's organizations cannot exceed the client's plan twitter_credits. |\n| `1408` | AI credits limit reached for the organization plan. The sum of ai_credits assigned to the client's organizations cannot exceed the client's plan ai_credits. |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Creates a top-level organization for the client. `parent_organization` is ignored: this endpoint always creates a root organization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientsOrganizationCreate"
              },
              "examples": {
                "basic": {
                  "summary": "Create an organization with its plan",
                  "value": {
                    "name": "Client X",
                    "actual_plan": {
                      "accounts": 4,
                      "publications": 150,
                      "users": 1,
                      "space": 0.25,
                      "integrations": 1,
                      "twitter_credits": 2500,
                      "ai_credits": 1000
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Get root organizations inside client",
        "description": "Return a list of organizations inside the client",
        "operationId": "getClientOrganizations",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "getUse",
            "in": "query",
            "description": "Boolean determine if the server will response with the actual use of each client",
            "required": false,
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records from which you will get clients (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "0"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of records will be retrieved (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "integer",
              "default": "10"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The limit of records will be retrieved (pagination)",
            "required": false,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsOrganizationList"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        }
      }
    },
    "/clients/{id_client}/organizations/{id_organization}": {
      "put": {
        "tags": [
          "clients"
        ],
        "summary": "Update a root organization by identifier",
        "description": "Update data from the received organization",
        "operationId": "updateParentOrganization",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client the organization belongs to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsOrganizationOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `1400` | Account limit reached for the organization plan |\n| `1401` | Publication limit reached for the organization plan |\n| `1402` | Users limit reached for the organization plan |\n| `1403` | Shared space limit reached for the organization plan |\n| `1407` | Twitter credits limit reached for the organization plan. The sum of twitter_credits assigned to the client's organizations cannot exceed the client's plan twitter_credits. |\n| `1408` | AI credits limit reached for the organization plan. The sum of ai_credits assigned to the client's organizations cannot exceed the client's plan ai_credits. |\n| `1301` | Client plan invalid. Min accounts must be X |\n| `1302` | Client plan invalid. Min publications must be X |\n| `1303` | Client plan invalid. Min users must be at least X |\n| `1306` | Client plan invalid. Min shared space must be at least X |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientsOrganizationUpdate"
              },
              "examples": {
                "changePlan": {
                  "summary": "Reassign resources",
                  "value": {
                    "actual_plan": {
                      "accounts": 8,
                      "publications": 300,
                      "users": 3,
                      "space": 1,
                      "integrations": 3,
                      "twitter_credits": 5000,
                      "ai_credits": 4000
                    }
                  }
                },
                "stopTwitterStats": {
                  "summary": "Stop spending X credits on automatic stats",
                  "value": {
                    "stats_settings": {
                      "auto_refresh_twitter": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "clients"
        ],
        "summary": "Delete a root organization by identifier",
        "description": "Delete the root organization and all its resources",
        "operationId": "deleteClientOrganization",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `1101` | Invalid organization |\n| `521` | Invalid client. The identifier is invalid o doesn't exists |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_organization",
            "in": "path",
            "description": "Organization identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/clients/{id_client}/ai-settings": {
      "put": {
        "tags": [
          "clients"
        ],
        "summary": "Configure the client's own AI models (BYOK)",
        "description": "Set the client's Bring-Your-Own-Key AI provider configuration per scope. The request body is an object keyed by scope (orchestrator, text, image); a scope set to null clears it. Providers and capabilities are validated against a fixed catalogue. When a scope uses BYOK, its calls are billed to the client's own provider and do NOT consume PlanVortex AI credits, but the artificial_inteligence plan flag is still required to use the feature. API keys are stored encrypted and never returned; the response client only exposes provider, model and has_api_key per scope. Requires the client:update permission.",
        "operationId": "updateAiSettings",
        "x-planvortex-identity": [
          "current_user",
          "current_app"
        ],
        "requestBody": {
          "description": "AI provider configuration keyed by scope",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientsAiSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation. Returns the client with the sanitized ai_settings (no API keys).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientsClientOne"
                }
              }
            }
          },
          "400": {
            "description": "The request failed. The body carries the PlanVortex error code in `code`:\n\n| Code | Meaning |\n| --- | --- |\n| `2104` | Invalid AI provider, scope or model. Returned when the scope is unknown, the provider is not in the catalogue, the provider does not support the scope's capability, or model/api_key are missing. |\n| `521` | Invalid client. The identifier is invalid or doesn't exist |",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unhandled error by the server"
          }
        },
        "parameters": [
          {
            "name": "id_client",
            "in": "path",
            "description": "Client identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/clients_organizations": {
      "get": {
        "tags": [
          "clients"
        ],
        "summary": "Every client with its organizations, in one call",
        "description": "The whole tree the caller can see: their clients, and inside each one the organizations they have access to.\n\nIt exists to save the N+1 that building a client picker otherwise costs. **An app always gets exactly one client** — its own — with every organization of it.\n\nThe two pairs of pagination parameters are independent: `offset`/`limit` page the clients, `offsetOrganizations`/`limitOrganizations` page the organizations inside each one.",
        "operationId": "getClientsWithOrganizations",
        "x-planvortex-identity": [
          "current_user",
          "current_app",
          "temporal_token"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Clients to skip",
            "required": false,
            "schema": {
              "type": "integer",
[...]
